@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

#conjunto-geral {
    background: linear-gradient(90deg, rgba(73, 73, 85, 1) 0%, rgba(30, 2, 31, 1) 100%);
    height: 3500px;
}

* {
    margin: 0;
    padding: 0;
}

#texto {
    position: absolute;
    font-family: 'fredoka one';
    color: white;
    font-size: 450%;
    margin-left: 10%;
    margin-top: 150px;
}

#topicos {
    position: absolute;
    font-family: 'Fredoka';
    color: white;
    font-size: 30%;
    margin-left: 7%;
    margin-top: 7%;
}

#imagem {
    position: relative;
    margin-left: 55%;
    padding-top: 150px;
}

#imagem img {
    border-radius: 25px;

}

/*grossura do scroll*/
::-webkit-scrollbar {
    width: 10px;
}

/* background do scroll */
::-webkit-scrollbar-track {
    background: #1e021f;

}

/* cor do scrool */
::-webkit-scrollbar-thumb {
    background: rgb(228, 217, 228);
    border-radius: 5px;
}

#conteudo {
    background-color: rgb(182, 181, 181);
    margin: 20px;
    padding: 20px;
    margin-top: 15%;
    border-radius: 5px;
    box-shadow: 20px 20px 20px 1px rgba(0, 0, 0, 0.39)
}

h1 {
    font-family: 'fredoka one';
    color: rgb(25, 24, 26)
}

#texto1 {
    font-family: 'fredoka';
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}

#conteudo img {
    border-radius: 20px;
}

#titulovideo{
    font-size: 250%;
    font-family: 'fredoka';
    color:white;
}
    
